.header{
	background-image: url('../img/top-banner.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 50vh;
	position: relative;
}

.title span {
	margin-right: 5px;
}

.fa-address-card,
.fa-user-friends,
.fa-image,
.fa-wordpress{
	font-size: 30px;
}

.title h2 {
	display: inline-block;
}